body{
    background-color: rgb(212, 203, 198);
    font-family: 20px;
}
#h2portafolio{
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
.h1{
    font-size: 30px;
}
#Nombre{
    color: rgb(222, 243, 230);
    background-color: rgb(39, 82, 60);
    width:  70rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 15px 5px grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
#portafolio{
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid black;
    width: 60rem;
    border-radius: 10px;
    
}
p{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}
.container-table{
    margin-top: 3rem;
    border: 3px solid rgb(0, 0, 0);
    width: 60rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    text-align: center;
    background-color: rgb(55, 114, 114);
    
    }
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.container-Datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    width: 70rem;
     background: linear-gradient(to left, rgba(70, 181, 172, 0.828), rgb(57, 154, 143));
    
    box-shadow: 4px 1px 10px grey;
    border-radius: 20px;
    padding: 2rem;
}   
th, td{
    border: 1px solid rgb(241, 241, 241);
    border-collapse: collapse;
    padding: 10px;      
    background-color: rgb(222, 243, 230);
    border-left: 0px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(24, 50, 50);
}

.link:hover{
    background-color: rgb(92, 135, 108);
    transition: background-color 0.3s;
    cursor: pointer;
}
.link:active{
    background-color: rgb(149, 192, 149);
  
}
.encabezados{
    background-color: rgb(15, 143, 130);
    color: white;
    font-size: 1.5rem;
}
