*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../image/fondo.jpg);
    background-size: cover;
    color: aqua;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.userlogin{
     background-color: aliceblue;
    width: 700px;
    height: 40px;
    border-radius: 10px solid rgb(155, 244, 16);
    margin-top: 10%;
    text-align: center;
}
.titulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 5px;
    color: blueviolet;

}
.userID{
    padding-top: 20px;

}
.userID h2{
    font-family: 'roboto', sans-serif;
    float: left;
    margin-left: 50px;
    margin-right:5px ;
    padding-left: 5px;
}
.userID input{
    width: 300px;
    height: 25px;
    border:solid 2px rgb(155,244,16);
    border-radius: 5px;
    margin-left: 20px;
}
.password{
    padding-top: 20px;

}
.password h2{
    font-family: 'roboto', sans-serif;
    float: left;
    margin-left: 50px;
    margin-right:5px ;
    padding-left: 5px;
}
.password input{
    width: 300px;
    height: 25px;
    border:solid 2px rgb(155,244,16);
    border-radius: 5px;
    margin-left: 20px;
}
.button button{
    border-radius: 15px;
    width: 120px;
    height: 35px;
}
.button p{
    margin-top: 8px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;


}

