body {
    background: linear-gradient(to left, #0A0C04, #1A2810);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20rem;
}

.container {
    display: inline;
    gap: 10px;
    background: linear-gradient(to left, #2D4A1C, #4A7C2E);
    padding: 3rem;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 0px 0px 10px #8BC34A;
}

#selector {
    height: 2rem;
    width: 14rem;
    font-weight: bold;
    font-size: 1rem;
      transition: transform 0.6s ease;
}

#selector:hover {
   transform: translate(10px,2px);
   
}

label {
    font-size: 1.4rem;
}


input {
    height: 2rem;
    width: 14rem;
    transition: transform 0.6s ease;
}

input:hover {
    transform: translate(10px, 2px);
}
button{
    margin-left: 10px;
    height: 3rem ;
    
    border-radius: 5px ;
   transition: transform .3s ease; 
}
button:hover {
    transform: scale3d(1.2, 1.2, 11);
}
button:active{
    transform: rotateX('10dg');
}