body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
  background: linear-gradient(to left, #0A0C04, #1A2810);
}
.container{
    border-radius: 10px;
    background:linear-gradient(to left ,#2D4A1C,#4A7C2E) ;
    padding: 30px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: transform 0.9s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container:hover{
    transform: scale(1.1);

}
.container .container-title{
    color: white;
    font-size: 20px;
}
td,th{
   
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
}
input{
    height: 100%;
    width: 100%;
}
#calificacionTotal{
    height:2rem;
    border-radius: 4x;
    color: #0A0C04;
    font-size: 20px;
    font-weight: bold;
}
form{
    text-align: center;
}
button{
    margin-top: 20px;
    height: 2rem;
    width: 10rem;
}
button:hover{
    background-color: #5d8f39;
}
button:active{
background-color: #8BC34A;
}