.container-informacion {
    width: 80%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin: auto;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-form:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transform: scale(1.02);
}

