body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
  background: linear-gradient(to left, #0A0C04, #1A2810);
}
.container{
    border-radius: 10px;
    background:linear-gradient(to left ,#2D4A1C,#4A7C2E) ;
    padding: 30px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: transform 0.9s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .container-title{
    color: white;
    font-size: 20px;
}
.container-title{
    background-color: #1A2810;
    border-radius: 10px;
    margin: 10px;
}
label{
    color: #8BC34A;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}
input{
    height:2rem ;
    width: 10rem;
}
.button{
    background-color: #4A7C2E;
    height: 2.2rem;
    margin-left: 10px;
    border-radius: 10px;
    transition: transform .3s ease;
}
.button:hover{
    transform: scale(1.1);
}