body{
    display: flex;
    background: #12412b;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;

}
.container{
    text-align: center;
    background: linear-gradient(to right, #07815E, #1aad6e);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 40px #12412b;
}
.container h1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
}
td{
    background-color: #1aad6e;
    text-align: left;
    padding: .4rem;
}
th{
    background-color: #12412b;
    color: white;
}
td p{
    color: aliceblue;
}
a {
    display: inline-block;       
    padding: 10px 20px;          
    background-color: #096F8A;   
    color: white;                
    text-decoration: none;       
    border-radius: 8px;          
    transition: all 0.3s ease;   
    font-weight: bold;
}

a:hover {
    background-color: #07815E;   
    transform: scale(1.05);      
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    text-shadow: none;
}
p{
    font-size: 2.4vh;
}
