body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
  background: linear-gradient(to left, #055064, #0B4678);
}
.container{
    border-radius: 10px;
    background:linear-gradient(to left ,#0B4678,#055064) ;
    padding: 30px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: transform 0.9s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container:hover{
    transform: scale(1.1);

}
.container .container-title{
    color: white;
    font-size: 20px;
}
.container-title{
    background-color: #055064;
    border-radius: 10px;
    margin: 10px;
}
label{
    color: rgb(134, 210, 242);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}
input{
    height:2rem ;
    width: 100%;
}
