body {
    display: flex;
    align-items: center;
    flex-direction: column;
    

}
.container-Datos {
    padding: 20px;
    background-color: white;
    background-color: rgb(192, 246, 246);
    border-radius: 30px;
    box-shadow: 2px 3px 10px;
    width: 75%;
    
}
.cotainer-nav {
    align-items: center;
    background-color: rgb(71, 148, 160);
    border-radius: 19px;
    height: 20%;
    width: 77%;
    box-shadow: 1px 1px 10px;
    margin: 1rem;
}
.cotainer-nav ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;

}
.cotainer-nav li :hover {
    background-color: rgb(122, 128, 133);
    translate: 10%; ;
    transition: translate 0.3s;
    
}
.cotainer-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    transition: background 0.3s;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
p,li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

   
   
#Datos{
     width: 30rem;
    height: 10rem;
    border: 3px solid;
    padding: 10px;
}
#Resumen_profecional{
   width: 30rem;
    height: 10rem;
    border: 3px solid;
    padding: 10px;
}
#Experiencia{
    width: 30rem;
    height: 10rem;
    border: 3px solid;
    padding: 10px;
}
#Aptitudes{
width: 30rem;
    height: 10rem;
    border: 3px solid;
    padding: 10px;
}
