body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-top: 4rem;
    border: 0;
}
.container-Datos {

    padding: 20px;
    background-color: white;
    background-color: rgb(192, 246, 246);
    border-radius: 30px;
    box-shadow: 2px 3px 10px;
    width: 75%;


}
.cotainer-nav {
    align-items: center;
    background-color: rgb(71, 148, 160);
    top: 0;
    z-index: 1000;
    position: fixed;
    height: 3rem;
    width: 100%;
    box-shadow: 1px 1px 10px;
   

}
.cotainer-nav ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.cotainer-nav li :hover {
    background-color:   rgb(40, 139, 156);
    translate: 10px ;
    transition: translate 0.3s;
    height: 1rem;
}
.cotainer-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    transition: background 0.3s;
}
h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
p,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
article {
    width: 90%;
    margin: 3rem;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid;
    background-color: rgb(125, 210, 214);
    box-shadow: 1px 0px 13px rgb(99, 150, 167);
}
#Habilidades_tecnicas {
    height: 16rem;
}
#Resumen_profecional {
    height: 10rem;
}
#Experiencia {
    height: 13rem;
}
#Aptitudes {
    height: 15rem;
}
#Quien_soy{
    height: 13rem;
}
#Titulo{
    font-size: 70px;
}
footer{
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    bottom: 0;
    z-index: 1000;
    position: fixed;
    background-color:rgb(71, 148, 160) ;
    border: 0;
    margin: 0;
    gap: 30px;
color: white;
}
#Regresar{
    height: 3rem;
    width: 7rem;
    background-color: aquamarine;
    text-align: center;
    border-radius: 10px;
    margin-left: 85rem;
    color: black;   
}   


 