body {
    font-family: Arial, sans-serif;
   background: linear-gradient(to left, #808481, #555656);
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20rem;
}

.container {
 
    max-width: 600px;
    background: linear-gradient(to right, #69E9D1, #6BD680);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-table {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.table td {
    padding: 10px;
    border: 3px solid #080707;
    background-color: #E6E6E6;
    text-align: center;
    font-size: 18px;
    font-weight: bold;  
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

#cantidad {
    width: 12rem;
    height: 1.4rem;
    border-radius: 4px;
    border: #080707 3px solid;
}
#saldoi {
    width:12rem;
    height: 1.4rem;
    border-radius: 4px;
    border: #080707 3px solid;
}

.button {
    background-color: #69E9D1;
    border: 3px solid #080707;
    color: rgb(15, 12, 12);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;    
}   
.button:hover {
    background-color: #6BD680;
    transform: scale(1.05);

    transition: all 0.3s ease;
}
.button:active {
    transform: scale(0.95);
    transition: all 0.1s ease;


}
form .Titulo {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    
}
